/*csslint ids: false, box-model: false*/


/**********************************************
GENERAL 
**********************************************/

a {
    text-decoration: none;
}

body {
    font-family: 'Open Sans', sans-serif;
}

#wrapper {
    background-color: orange;
    margin: 0 auto;
     max-width: 940px;
    padding: 0 5%;
}

img {
    max-width: 100%;
}

h3 {
    margin: 0 0 1em 0;
}


/*===============================================
HEADER
================================================*/

header {
    
    background: #FCC323;
    float: left;
    margin: 0 0 30px 0;
    padding: 5px 0 0 0;
    width: 100%;
}

.logo {
    color: darkorange;
     margin: 0;
    text-align: center;
}

h1 {
     background: yellow;
    font-family: 'Itim', cursive;
    font-size: 1.75em;
    margin: 50px 0;
}

h2 {
     background: yellow;
    font-size: 0.75em;
    font-weight: normal;
    /*1st value is for top. 2nd value is for left and right. 3rd value is for the bottom.*/
    margin: -5px 0 0;
    margin-bottom: 20px;
}


/*===============================================
NNAVIGATION
================================================*/

nav {
    margin: 20px 0 0;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 20px 0 0;
    padding: 10px 0;
    text-align: center;
}

nav li {
    display: inline-block;
    text-align: center;
    
}

nav a {
    font-weight: 800;
    padding: 15px 10px;
    text-align: center;
}


/*===============================================
FOOTER
================================================*/

footer {
    color: orange;
    font-size: 0.75em;
    padding-top: 50px;
    text-align: center;
}

.social-media-icon {
   
    height: 20px;
    margin: 0 5px;
     width: 20px;
}


/*===============================================
CONNTACT PAGE
================================================*/

.contact-info {
    font-size: 0.9em;
    list-style: none;
    margin: 0;
    padding: 0;
}

.contact-info a {
    background-repeat: no-repeat;
    background-size: 20px 20px;
    display: block;
    margin: 0 0 10px;
    min-height: 28px;
    padding: 0 0 8 30px;
}

.contact-info .mail a {
    background-image: url('../img/Gmail.png');
}

.contact-info .twitter a {
    background-image: url('../img/Twitter.png');
}


/**********************************************
COLOR
**********************************************/

body {
    background: #fdd017;
    color: black;
}

a {
    color: orangered;
}

nav {
    background: #fdd017;
}

nav a,
nav a:visited {
    color:orange;
}

nav .selected,
nav a:hover {
    color:firebrick;
}

.profile-photo {
    max-width: 100px;
}


/**********************************************
PAGE PORTFOLIO
**********************************************/

#gallery {
    list-style: none;
    margin: 0;
    padding: 0;
}

#gallery li {
    background-color: #fdd017;
    color: black;
    float: left;
    margin: 2.5%;
    width: 45%;
}

gallery li a p {
    color: darkorange;
    font-size: 0.75em;
    margin: 0;
    padding: 5%;
}


/**********************************************
PAGE PORTFOLIO
**********************************************/

.profile-photo {
    border-radius: 25%;
    display: block;
    max-width: 0 auto 30 px;
}


/**********************************************
MEDIA Querie
**********************************************/

@media screen and (min-width: 480px) {
    #primary {
        float: left;
        width: 50%;
    }
    #secondary {
        float: right;
        width: 40%;
    }
    #gallery li {
        width: 28.3333%;
    }
    #gallery li:nth-child(4n) {
        clear: left;
    }
    .profile-photo {
        float: left;
        margin: 0 5% 80px 0;
    }
}

@media screen and (min-width: 660px) {
    nav {
        background: none;
        float: left;
        font-size: 1.125em;
        margin-right: 5%;
        text-align: right;
        width: 45%;
    }
    #logo {
        float: left;
        margin-left: 5%;
        text-align: left;
        width: 45%;
    }
    header {
        border-bottom: 5px solid orange;
        margin-bottom: 60px;
    }
}